$color-violet-background: #6F64F8;
$color-violet-text: #7E72F2;
$color-white: #FFFFFF;
$text-color: black;
$background_color: rgba(249, 249, 249, 0.911);

$font-style: 'Barlow', sans-serif;

$border-radius: 8px;
$shadow: 0 10px 20px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);  
$border: none;

$text-decoration: none;

$width-100: 100%;

$line-heigth: 2.8vh;